<% provide(:title,"Help") %>

<h1>Help</h1>
<ul>
    <li ><h2 style="text-align:left;">Concept</h2>
    <span><p>Rate your worst or best professor anonymously</p></span></li>

    <li><h2 style="text-align:left;">Rules</h2>
    <ul>
        <li>Be respectful (this includes everything i guess)</li>
    </ul></li>
</ul>
