<% provide(:title,"Home") %>
<div class="center jumbotron">
        <h1>Welcome to <strong>ISSAT Reviews</strong>  </h1>
        <h2>
                For the first time you are given a chance to rate and review your professors so just do it ! 
        </h2>
        <%= form_tag("/search", method: "get") do %>
                <%= label_tag(:q, "Select:") %>
                <%= collection_select(:prof_id, 0, Prof.all, :id, :name) %>
                <%= submit_tag("Go") %>
        <% end %>
        
</div>
